.map{
    height: 800px;
    width: 48%;
    display: inline-block;
}

.contact-form{
    height: 200px;
    width: 48%;
    display: inline-block;
    background-color: blue;

}

main{
    height: 900px;
    width: 100%;
}